<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>yx-m</display-name>
	<servlet>
		<servlet-name>upgradeServlet</servlet-name>
		<servlet-class>cn.zj.easynet.remote.UpgradeServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>restartServerServlet</servlet-name>
		<servlet-class>cn.zj.easynet.remote.RestartServerServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>getAuthCodeServlet</servlet-name>
		<servlet-class>cn.zj.easynet.remote.GetAuthCodeServlet</servlet-class>
		<init-param>
			<param-name>redisServerUrl</param-name>
			<param-value>192.168.99.56</param-value>
		</init-param>
		<init-param>
			<param-name>redisServerPort</param-name>
			<param-value>6379</param-value>
		</init-param>
		<init-param>
			<param-name>authCodeTimeOut</param-name>
			<param-value>300</param-value>
		</init-param>
		<init-param>
			<param-name>authCodePrefix</param-name>
			<param-value>YX_M_AuthCode_</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>checkAuthCodeServlet</servlet-name>
		<servlet-class>cn.zj.easynet.remote.CheckAuthCodeServlet
		</servlet-class>
		<init-param>
			<param-name>zxAccountHttpUrl</param-name>
			<param-value>http://192.168.100.146:8073/yxzq/RecvRequest?account=yypt&amp;password=yypt
			</param-value>
		</init-param>
		<init-param>
			<param-name>areaCodehttpUrl</param-name>
			<param-value>http://192.168.104.203:7911/CI/hcode2/</param-value>
		</init-param>
		<init-param>
			<param-name>redisServerUrl</param-name>
			<param-value>192.168.99.56</param-value>
		</init-param>
		<init-param>
			<param-name>redisServerPort</param-name>
			<param-value>6379</param-value>
		</init-param>
		<init-param>
			<param-name>authCodePrefix</param-name>
			<param-value>YX_M_AuthCode_</param-value>
		</init-param>
		<init-param>
			<param-name>accountCallBackUrl</param-name>
			<param-value>http://172.23.4.56:8085/nnl/accountCallBack
			</param-value>
		</init-param>
		<load-on-startup>3</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>upgrade4IosServlet</servlet-name>
		<servlet-class>cn.zj.easynet.remote.Upgrade4IosServlet</servlet-class>
		<load-on-startup>4</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>accountCallBackServlet</servlet-name>
		<servlet-class>cn.zj.easynet.remote.AccountCallBackServlet
		</servlet-class>
		<load-on-startup>5</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>upgrade4AndroidServlet</servlet-name>
		<servlet-class>cn.zj.easynet.remote.Upgrade4AndroidServlet
		</servlet-class>
		<load-on-startup>6</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>getEcpAccountInfoServlet</servlet-name>
		<servlet-class>cn.zj.easynet.remote.GetEcpAccountInfoServlet
		</servlet-class>
		<load-on-startup>7</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>accountCallBackServlet</servlet-name>
		<url-pattern>/nnl/accountCallBack</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>upgradeServlet</servlet-name>
		<url-pattern>/nnl/upgrade</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>restartServerServlet</servlet-name>
		<url-pattern>/nnl/restart</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>getAuthCodeServlet</servlet-name>
		<url-pattern>/nnl/getAuthCode</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>checkAuthCodeServlet</servlet-name>
		<url-pattern>/nnl/checkAuthCodeAndAccount</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>upgrade4IosServlet</servlet-name>
		<url-pattern>/nnl/upgrade4ios</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>upgrade4AndroidServlet</servlet-name>
		<url-pattern>/nnl/upgrade4Android</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>getEcpAccountInfoServlet</servlet-name>
		<url-pattern>/nnl/getEcpAccountInfo</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>